<a href="https://colab.research.google.com/github/Chris-Congleton/Chris-Congleton/blob/main/DesignalismNewsroom_Tool.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
!ls

inkomens.csv  sample_data

# Verdeling gestandaardiseerd inkomen

## Preprocessing

In [3]:
df = pd.read_csv("inkomens.csv", sep=";")

In [4]:
inkomensgroep = []
for i in range(-6000,102000, 2000):
  inkomensgroep.append((i, i+2000))

print(inkomensgroep[:5])

[(-6000, -4000), (-4000, -2000), (-2000, 0), (0, 2000), (2000, 4000)]

In [5]:
x_axis = []
for i in range(-5000,102000, 2000):
  x_axis.append(i)

print(x_axis[:5])

[-5000, -3000, -1000, 1000, 3000]

In [6]:
df["x_axis"] = x_axis
df["x_axis"] = df["x_axis"]/1000

In [7]:
df["Inkomens_groep_duizend_euro"] = inkomensgroep

In [8]:
df["n_huishoudens"] = df["Alle huishoudens"]

In [9]:
df = df.drop(columns=["Inkomensgroep","Alle huishoudens"])

In [10]:
# Drop last empty row
df = df.iloc[:-1 , :]

In [11]:
df.head()

   x_axis Inkomens_groep_duizend_euro  n_huishoudens
0    -5.0              (-6000, -4000)            1.0
1    -3.0              (-4000, -2000)            2.0
2    -1.0                  (-2000, 0)           33.0
3     1.0                   (0, 2000)           46.0
4     3.0                (2000, 4000)           52.0

## Verdeling gestandaardiseerd inkomen

In [40]:
import plotly.express as px

fig = px.bar(df,
             x='x_axis',
             y='n_huishoudens',
             title="Verdeling gestandaardiseerd inkomen 2020",
             )

fig.update_layout(xaxis_title="Inkomen in Euro's x 1000",
                  yaxis_title="Aantal huishoudens x 1000")

fig.show()

# Verdeling gestandaardiseer inkomen 2020
# Samenstelling huishoudens

In [41]:
!ls

inkomens.csv  Samenstelling_huishoudens.csv  sample_data

In [45]:
samenstelling_huishoudens = pd.read_csv("Samenstelling_huishoudens.csv", sep=",")

In [48]:
samenstelling_huishoudens.tail()

,Inkomensgroep,Alle huishoudens,Alleenstaande,"Alleenstaande, onder AOW-leeftijd","Alleenstaande, vanaf AOW-leeftijd",Paar zonder kinderen,"Paar zonder kinderen, onder AOW-leeftijd","Paar zonder kinderen, vanaf AOW-leeftijd",Paar met kinderen,Eénoudergezin
51,tussen 96 en 98 dzd euro,4.0,1.0,1.0,0.0,2.0,1.0,0.0,2.0,0.0
52,tussen 98 en 100 dzd euro,4.0,1.0,1.0,0.0,2.0,1.0,0.0,2.0,0.0
53,tussen 100 en 102 dzd euro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,TOTAAL,819.0,138.0,18.0,28.0,332.0,273.0,59.0,306.0,20.0

In [51]:
samenstelling_huishoudens = samenstelling_huishoudens.iloc[:-2 , :]

In [52]:
samenstelling_huishoudens["Inkomens_bucket"] = x_axis
samenstelling_huishoudens["Inkomens_bucket"] = samenstelling_huishoudens["Inkomens_bucket"]/1000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [53]:
samenstelling_huishoudens = samenstelling_huishoudens.drop(columns="Inkomensgroep")

,Inkomensgroep,Alle huishoudens,Alleenstaande,"Alleenstaande, onder AOW-leeftijd","Alleenstaande, vanaf AOW-leeftijd",Paar zonder kinderen,"Paar zonder kinderen, onder AOW-leeftijd","Paar zonder kinderen, vanaf AOW-leeftijd",Paar met kinderen,Eénoudergezin,Inkomens_bucket
0,tussen -6 en -4 dzd euro,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-5.0
1,tussen -4 en -2 dzd euro,2.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,-3.0
2,tussen -2 en 0 dzd euro,33.0,30.0,28.0,1.0,2.0,2.0,0.0,1.0,0.0,-1.0
3,tussen 0 en 2 dzd euro,46.0,41.0,37.0,3.0,3.0,3.0,0.0,1.0,1.0,1.0
4,tussen 2 en 4 dzd euro,52.0,44.0,40.0,4.0,4.0,4.0,0.0,2.0,1.0,3.0

# Bestedingspatroon

In [63]:
categoriën = ['Huisvesting, water en energie', 'Vervoer', 
              'Voedingsmidd. en alc.vrije drank', 'Recreatie en cultuur',
              'Diverse goederen en diensten', 'Stoffering en huish. apparaten.'
              ,'Restaurants en hotels', 'Kleding en schoenen', 'Communicatie',
              'Alcoholhoudende dranken en tabak', 'Gezondheid',
              'Consumptiegebonden belastingen','Onderwijs', 'Goede doelen']
tien_procent = [28.99, 13.24, 11.76, 9.24,7.98,
                7.35,5.88,4.41,3.36,2.94,1.68,1.68,1.05,0.42]
alle_huishoudens = [11.7, 4, 4.4,3,2.7,2.3,1.7,1.4,1.2,
                    1.2,0.6,0.6,0.4,0.1]

In [64]:
bestedingspatroon = pd.DataFrame({"Categorie":categoriën, "10 Procent":tien_procent, "Alle huishoudens": alle_huishoudens})

In [71]:
bestedingspatroon.head(14)

,Categorie,10 Procent,Alle huishoudens,percentage_10procent,percentage_allehuishoudens
0,"Huisvesting, water en energie",28.99,11.7,28.99,33.144476
1,Vervoer,13.24,4.0,13.24,11.331445
2,Voedingsmidd. en alc.vrije drank,11.76,4.4,11.76,12.464589
3,Recreatie en cultuur,9.24,3.0,9.24,8.498584
4,Diverse goederen en diensten,7.98,2.7,7.98,7.648725
5,Stoffering en huish. apparaten.,7.35,2.3,7.35,6.515581
6,Restaurants en hotels,5.88,1.7,5.88,4.815864
7,Kleding en schoenen,4.41,1.4,4.41,3.966006
8,Communicatie,3.36,1.2,3.36,3.399433
9,Alcoholhoudende dranken en tabak,2.94,1.2,2.94,3.399433
10,Gezondheid,1.68,0.6,1.68,1.699717
11,Consumptiegebonden belastingen,1.68,0.6,1.68,1.699717
12,Onderwijs,1.05,0.4,1.05,1.133144
13,Goede doelen,0.42,0.1,0.42,0.283286

In [70]:
bestedingspatroon["percentage_10procent"] = bestedingspatroon["10 Procent"]
bestedingspatroon["percentage_allehuishoudens"] = bestedingspatroon["Alle huishoudens"]/35.3*100